@charset "UTF8";

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: maroon;
    background-color: darkgoldenrod;
}
h2 {
    color: darkred;
}
p{
    text-align: justify;
}
a {
    background-color: black;
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
}