@charset "UTF-8";

/*  CONFIGURAÇÕES GERAIS  */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color:#233eff;
    background-size: contain;
    background-repeat: no-repeat;
}
header{
    background-color: black;
    color: aliceblue;
    text-align: center;
}/*
main{
    width: 100vw;
    height: 100vh;
    margin: auto;
    text-align: center;
    border: 2px solid greenyellow;
}*/
main h1{
    color: aliceblue;
    text-shadow: 3px 3px 2px black ;
    padding: 10px;
}
